:root{
    --black: #181818;
    --white: #fff;
    --gray: #efefef;
    --lightgray:#dbcece96;
}

body:has(input[name = "changeTheme"]:checked){
    --white: #181818; 
    --black: #fff;
    --gray:#383838;
    --lightgray:#121212;
}

*{
    box-sizing: border-box;
}
body{
    background: var(--gray);
    scroll-behavior: smooth;
}
section{
    width: 60%;
    margin: 20px auto;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .contentHeader{
    margin: auto;
    text-align: center;
    color: var(--black);

}

section .contentHeader h1{
    font-size: 35px;
}

section form {
    position: relative;
    z-index: 1;
    width: 50%;
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section form .formDetail{
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

section form .formDetailHorizontal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--black);
    cursor: pointer;
    margin: 10px 0;
}

section form .formDetailHorizontal:first-child{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

section form .formDetailHorizontal:first-child label{
    margin-right: 10px;
    color: var(--black);
}

section form .formDetailHorizontal select{
    font-size: 16px;
    height: 20px;
    cursor: pointer;
}

section form .formDetailHorizontal select:focus{
    margin-bottom: 25px;
}

section form .formDetailHorizontal .subDiv{
    display:flex;
    margin-top: 10px;
}

section form .formDetailHorizontal .subDiv input{
    margin-left: 30px;
    cursor: pointer;
}
section form .formDetailHorizontal .subDiv label{
    cursor: pointer;
}

section form .formDetail textarea{
    height: 100px;
}

section form input,textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--black);
    font-size: 15px;
    outline: 0;
    z-index: 1;
    box-sizing: border-box;
}

section form .formDetail label{
    color: var(--black);
    visibility: hidden;
}


section form .formSubmit{
    margin-top: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

section form .formSubmit input{
    margin: 5px;
    background: var(--white);
    cursor: pointer;
    transition: 0s;
    color: var(--black);
}

section form .formSubmit input:hover{
    outline: 1px solid var(--black);
    outline-offset: 2px;
}
@media (max-width: 1500px){
    section form .formDetailHorizontal select{
        font-size: 15px;
    }
    section form .formDetailHorizontal select:focus{
        margin-bottom: 50px;
    }
}

@media (max-width: 960px){
    section form .formDetail label{
        visibility: visible;
    }
    section form .formDetail{
        margin-bottom: 30px;
    }

    section form .formDetail textarea::placeholder{
        font-size: 12px;
    }
    

    section form .formDetailHorizontal:first-child{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }
    section form .formDetailHorizontal select{
        font-size: 12px;
        margin-bottom: 30px;
    }
    section form .formDetailHorizontal select:focus{
        margin-bottom: 80px;
    }
}
