:root{
    --black: #181818;
    --white: #fff;

}
.darkTheme{
       --white: #181818; 
       --black: #fff;
}
*{
    transition: 0.3s;
}
body{
    margin: 0;
    padding: 0;
    background: var(--white);
}
/*Header*/
header{
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--white);
}
header a {
    height: inherit;
}
header a img{
    object-fit: scale-down;
    height: inherit;
}


header .searchBarContainer{
    display: flex;
    width: 500px;
    height: 40px;
    align-items: center;
    justify-content: flex-start;

}

header .dropDown{
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

header .dropDown span{
    font-size: 25px;
    color: var(--black);
}

header .searchBar {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

header .searchBar input{
    height: 38px;
    border-radius: 10px;
    padding-left: 10px;
    background: var(--white);
}

header .searchBar input::placeholder{
    color: var(--black);
    opacity: 0.8;
}

header .searchBar input:focus{
    color: var(--black);
}

header .searchButton{
    position: absolute;
    right: 5px;
    background: var(--black);
    color: var(--white);
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

header .searchTerm{
    width: 100%;
    height: 100%;
    
}

header nav ul{   
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    line-height: 15px;
}

header nav ul li:nth-child(4){   
    border-right: 1px solid var(--black);
    padding-right: 20px;
}
header nav li{
    float: left;
    margin-right: 24px;
}

header nav a{
    font-size: 23px;  
    text-decoration: none;
    color: var(--black);
}
header nav a:hover{
    color: rgb(25, 25, 175);

}
header nav span{
    font-size: 12px;
}

header .switchDisplayMode{
    height: inherit;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: -8%;
    line-height: 0px;
}

header .changeTheme{
    margin:  0 auto;
    background: turquoise;
    width: 60px;
    height: 30px;
    display: block;
    background: rgb(243, 241, 243);
    border-radius: 20px;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

header .changeTheme::before{
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 0 3px 15px var(--black);
}

header .changeTheme input{
    display: none;
}

header .changeTheme:has(input[name = "changeTheme"]:checked){
    background: rgb(3, 194, 3);
}

header .changeTheme:has(input[name = "changeTheme"]:checked)::before{
    left: calc(100% - 25px);
}
body:has(input[name = "changeTheme"]:checked){
    --white: #181818; 
    --black: #fff;
}

header .switchDisplayMode p{
    color: var(--black);
    font-size: 12px;
}
/*Header*/


/*Footer*/
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    color: var(--black);

}

footer .basicInformation{
    display: flex;
    justify-content:space-around;
    width: 60%;
}

footer .detail:first-child{
    border-right: 1px solid var(--black);
    padding: 10px;
}

footer .basicInformation img{
    height: 100px;
}
footer .detail{
    word-wrap: break-word;
    width: 20%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
}

footer .detail h3{
    border-bottom: 1px solid var(--black);
    text-align: center;
}


footer .detail a{
    text-decoration: none;
    color: var(--black);
    line-height: 40px;
}

footer .detail  a:hover{
    transform: translateX(5px);
}

/*Footer*/
