/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Le Dang Quang
ID: s3977794
Acknowledgement: 
icon:https://fontawesome.com/
books:
https://markmanson.net/best-books/fiction#:~:text=The%2047%20Best%20Fiction%20Books%20of%20All%20Time,to%20Napoleon%20himself.%20The%20modern%20epic.%20More%20items
https://reedsy.com/discovery/blog/best-nonfiction-books
https://www.goodhousekeeping.com/life/entertainment/g26143680/best-romance-novels/
https://www.ereads.com/best-science-fiction-books/#:~:text=Best%20Science%20Fiction%20Books%201%20Dune%20by%20Frank,Sheep%3F%20by%20Philip%20K.%20Dick%20...%20More%20items
stationary:https://www.fahasa.com/ */

:root{
    --black: #181818;
    --white: #ffffff;
    --gray: #efefef;
    --lightgray:#d4d4d4;
    --boxshadow: rgb(0,0,0,0.25);
    --cart:#7d7d7d;
    --sale:#bcbcbc;

}
body:has(input[name = "changeTheme"]:checked){
    --white: #181818; 
    --black: #fff;
    --gray:#383838;
    --boxshadow: rgb(255,255,255,0.25);
    --lightgray:#121212;
    --cart: #c7c7c7;
    --sale:#e3e3e3;

}

body{
    background: var(--gray);
}
section{
    width: 60%;
    margin: 10px auto;
    background: var(--white);
    color: var(--black);
}

section .timeline{
    margin: 0;
    padding-left: 10px;
    background: var(--lightgray);
    color: var(--black);
}

section .timeline a{
    color: var(--black);
}

section .timeline a,p{
    display: inline-block;
}

section .detailContainer {
    width: 100%;
}
section .detailContainer .header{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase ;
}

section .detailContainer .information{
    width: 100%;
    padding: 10px;
}

section .detailContainer .information p{
    margin: 0;
    line-height: 30px;
    font-size: 20px;
    padding-bottom: 10px;
}

section .detailContainer .information span{
    font-weight: bold;
}

@media (max-width: 1500px){
    section {
        width: 60%;
    }
}

@media (max-width: 960px){
    section{
        width: 100%;
    }
}

